@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --clr-black:rgb(0,0,0);
    --clr-white-gray:rgb(214,219,220);
    --clr-white:rgb(255,255,255);

    --foreground-rgb: var(--clr-black);
    --background-start-rgb: var(--clr-white-gray);
    --background-end-rgb: var(--clr-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: var(--clr-white);
        --background-start-rgb: var(--clr-black);
        --background-end-rgb: var(--clr-black);
    }
}

body {
    color: var(--foreground-rgb);
    background: linear-gradient(to bottom, transparent, var(--background-end-rgb)) var(--background-start-rgb);
}
